{% liquid
  assign content_alignment = section.settings.content_alignment
  assign content_alignment_mobile = section.settings.content_alignment_mobile
  assign column_balance = section.settings.column_balance
  assign background_color = section.settings.background_color
  assign column_gap = section.settings.column_gap

  assign image_background_color = section.settings.image_background_color
  if image_background_color.alpha == null or image_background_color.alpha == 0.0
    assign image_background_color = settings.image_background_color
  endif

  assign top_margin = section.settings.top_margin
  assign bottom_margin = section.settings.bottom_margin

  assign top_padding = section.settings.top_padding
  assign bottom_padding = section.settings.bottom_padding

  assign top_padding_mobile = top_padding | divided_by: 2
  assign bottom_padding_mobile = bottom_padding | divided_by: 2

  assign background_color = section.settings.background_color
  assign fullwidth_background = section.settings.fullwidth_background
  assign side_padding = section.settings.side_padding

  assign grid_rows = 0

  assign first_block = section.blocks | first
  assign image_block = section.blocks | where: 'type', 'image' | first

  if first_block.type == 'image'
    assign desktop_alignment = 'image_first'
  else
    assign desktop_alignment = 'text_first'
  endif

  if image_block.settings.shape == 'default'
    assign container_classes = 'default-image'
  elsif image_block.settings.shape == 'circle'
    assign container_classes = 'circle-image'
  elsif image_block.settings.shape == 'square'
    assign container_classes = 'square-image'
  endif

  for block in section.blocks
    assign grid_rows = grid_rows | plus: 1
  endfor

  if background_color.alpha and background_color.alpha != 0.0
    assign has_background = true
  endif

  assign absolute_column_balance = column_balance | abs
  assign absolute_percentage = absolute_column_balance | divided_by: 50.0
  assign column_percentage = 3 | times: absolute_percentage

  if column_percentage < 1
    assign column_percentage = column_percentage | times: 0.1 | plus: 1.0
  endif
%}

{% style %}
  #shopify-section-{{section.id}} {
    margin-top: {{top_margin | divided_by: 2}}px;
    margin-bottom: {{bottom_margin | divided_by: 2}}px;
  }

  #shopify-section-{{section.id}} .svg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    background-color: {{image_background_color}};
    stroke: {{settings.icon_color}};
    fill: {{settings.icon_color}};
    width: 100%;
    height: 100%;
  }

  #shopify-section-{{section.id}} .image-with-text__inner {
    padding-top: {{top_padding_mobile}}px;
    padding-bottom: {{bottom_padding_mobile}}px;
    background-color: {% if background_color.alpha and background_color.alpha != 0.0 %}{{background_color}}{% endif %};
  }

  {% if background_color.alpha != null and background_color.alpha != 0.0 %}
    {% if fullwidth_background %}
      #shopify-section-{{ section.id }} {
        background-color: {{background_color}};
        max-width: 100%;
        padding-top: {{top_padding}}px;
        padding-bottom: {{bottom_padding}}px;
        padding-left: 0;
        padding-right: 0;
      }

      #shopify-section-{{ section.id }} .image-with-text__inner {
        max-width: {{ settings.page_width }}px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
      }
    {% else %}
      #shopify-section-{{ section.id }}{
        background-color: {{background_color}};
        padding-top: {{top_padding}}px;
        padding-bottom: {{bottom_padding}}px;
        padding-left: {{side_padding}}px;
        padding-right: {{side_padding}}px;
        box-sizing: border-box;
      }
    {% endif %}
  {% endif %}

  .image-with-text__inner.section-{{section.id}} .image-with-text__content {
      grid-template-rows: repeat({{grid_rows}}, auto);
  }

  {% case content_alignment_mobile %}
    {% when "left" %}
      .image-with-text__inner.section-{{section.id}} .image-with-text__content {
        align-items: left;
        text-align: left;
      }

      .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__button,
      .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__buttons {
        justify-content: flex-start;
      }

      .image-with-text__inner.section-{{section.id}} .image-with-text__content--mobile{
        align-items: flex-start;
      }

    {% when "center" %}
      .image-with-text__inner.section-{{section.id}} .image-with-text__content {
        align-items: center;
        text-align: center;
      }

      .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__button,
      .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__buttons {
        justify-content: center;
      }

      .image-with-text__inner.section-{{section.id}} .image-with-text__content--mobile{
        align-items: center;
      }
    {% when "right" %}
      .image-with-text__inner.section-{{section.id}} .image-with-text__content {
        align-items: right;
        text-align: right;
      }

      .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__button,
      .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__buttons {
        justify-content: flex-end;
      }

      .image-with-text__inner.section-{{section.id}} .image-with-text__content--mobile{
        align-items: flex-end;
      }
  {% endcase %}

  @media screen and (min-width: 768px) {
    #shopify-section-{{section.id}} {
      margin-top: {{ top_margin }}px;
      margin-bottom: {{ bottom_margin }}px;
    }

    #shopify-section-{{section.id}} .image-with-text__inner {
      padding-top: {{top_padding}}px;
      padding-bottom: {{bottom_padding}}px;
    }

    {% if has_background %}
      .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
        background-color: {{background_color}};
      }

      .image-with-text__inner.section-{{section.id}} div.image-with-text__content--desktop div.image-with-text__content__right {
          padding: 10px 90px 10px 91px;
          box-sizing: border-box;
          justify-content: flex-start;
      }

    {% endif %}

    {% case content_alignment %}
      {% when "left" %}
        .image-with-text__inner.section-{{section.id}} .image-with-text__content {
          align-items: left;
          text-align: left;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__button,
        .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__buttons {
          justify-content: flex-start;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content__right--wrapper{
          justify-items: flex-start;
        }

      {% when "center" %}
        .image-with-text__inner.section-{{section.id}} .image-with-text__content {
          align-items: center;
          text-align: center;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__button,
        .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__buttons {
          justify-content: center;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content__right--wrapper{
          justify-items: center;
        }
      {% when "right" %}
        .image-with-text__inner.section-{{section.id}} .image-with-text__content {
          align-items: right;
          text-align: right;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__button,
        .image-with-text__inner.section-{{section.id}} .image-with-text__content .block__buttons {
          justify-content: flex-end;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content__right--wrapper{
          justify-items: flex-end;
        }
    {% endcase %}

    {% case desktop_alignment %}
      {% when "image_first" %}
        .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__left {
          order: 1;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
            order: 2;
            justify-content: flex-end;
            padding: 25px 25px 25px 0;
        }

        {% case container_classes %}
          {% when 'default-image' %}
            #shopify-section-{{section.id}} .svg-placeholder {
              position: static;
            }

            .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                {% if column_balance == 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                {% elsif column_balance > 0 %}
                  grid-template-columns: minmax(350px, {{column_percentage}}fr) minmax(100px, 1fr);
                {% elsif column_balance < 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, {{column_percentage}}fr);
                {% endif %}
                justify-content: space-between;
                gap: {{column_gap}}px;
                width: 100%;
            }

            .image-with-text__inner.section-{{section.id}} .image-with-text__content {
                justify-items: start;
            }

            {% if has_background %}
              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .block__image {
                  height: 100%;
                  box-sizing: border-box;
                  display: block;
                  min-height: 100%;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .block__image img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-position: center;
                  object-fit: cover;
                  background-color: {{image_background_color}};
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
                  border-radius: {{settings.border_radius}}px;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__left {
                  height: 100%;
              }
              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                  {% if column_balance == 0 %}
                    grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                  {% elsif column_balance > 0 %}
                    grid-template-columns: minmax(350px, {{column_percentage}}fr) minmax(100px, 1fr);
                  {% elsif column_balance < 0 %}
                    grid-template-columns: minmax(350px, 1fr) minmax(100px, {{column_percentage}}fr);
                  {% endif %}
                  width: 100%;
                  gap: 0;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content {
                padding: 0;
              }
            {% endif %}
          {% when 'circle-image' %}
            .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                {% if column_balance == 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                {% elsif column_balance > 0 %}
                  grid-template-columns: minmax(350px, {{column_percentage}}fr) minmax(100px, 1fr);
                {% elsif column_balance < 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, {{column_percentage}}fr);
                {% endif %}
                justify-content: space-between;
                gap: {{column_gap}}px;
            }
            {% if has_background %}
              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
                  border-radius: {{settings.border_radius}}px;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                  {% if column_balance == 0 %}
                    grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                  {% elsif column_balance > 0 %}
                    grid-template-columns: minmax(350px, {{column_percentage}}fr) minmax(100px, 1fr);
                  {% elsif column_balance < 0 %}
                    grid-template-columns: minmax(350px, 1fr) minmax(100px, {{column_percentage}}fr);
                  {% endif %}
                  justify-content: center;
                  gap: {{column_gap}}px;
              }
            {% endif %}
          {% when 'square-image' %}
            .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                {% if column_balance == 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                {% elsif column_balance > 0 %}
                  grid-template-columns: minmax(350px, {{column_percentage}}fr) minmax(100px, 1fr);
                {% elsif column_balance < 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, {{column_percentage}}fr);
                {% endif %}
                justify-content: space-between;
                gap: {{column_gap}}px;
            }

            {% if has_background %}
              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
                  border-radius: 0 {{settings.border_radius}}px {{settings.border_radius}}px 0;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__left .block__image {
                  border-radius: {{settings.border_radius}}px 0 0 {{settings.border_radius}}px;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                {% if column_balance == 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                {% elsif column_balance > 0 %}
                  grid-template-columns: minmax(350px, {{column_percentage}}fr) minmax(100px, 1fr);
                {% elsif column_balance < 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, {{column_percentage}}fr);
                {% endif %}
                  padding-left: 0;
                  padding-right: 0;
                  grid-gap: 0px;
                  justify-content: center;
              }
            {% endif %}
        {% endcase %}
      {% when "text_first" %}
        .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__left {
          order: 2;
        }

        .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
            order: 1;
            padding: 25px 0 25px 25px;
        }
        {% case container_classes %}
          {% when 'default-image' %}
            #shopify-section-{{section.id}} .svg-placeholder {
              position: static;
            }

            .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
              {% if column_balance == 0 %}
                grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
              {% elsif column_balance > 0 %}
                grid-template-columns: minmax(100px, {{column_percentage}}fr) minmax(350px, 1fr);
              {% elsif column_balance < 0 %}
                grid-template-columns: minmax(100px, 1fr) minmax(350px, {{column_percentage}}fr);
              {% endif %}
              justify-content: space-between;
              gap: {{column_gap}}px;
              width: 100%;
            }

            .image-with-text__inner.section-{{section.id}} .image-with-text__content {
              justify-items: end;
            }
            {% if has_background %}
              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .block__image {
                  height: 100%;
                  box-sizing: border-box;
                  display: block;
                  min-height: 100%;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .block__image img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-position: center;
                  object-fit: cover;
                  background-color: {{image_background_color}};
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
                  border-radius: {{settings.border_radius}}px;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                {% if column_balance == 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                {% elsif column_balance > 0 %}
                  grid-template-columns: minmax(100px, {{column_percentage}}fr) minmax(350px, 1fr);
                {% elsif column_balance < 0 %}
                  grid-template-columns: minmax(100px, 1fr) minmax(350px, {{column_percentage}}fr);
                {% endif %}
                width: 100%;
                gap: 0;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__left {
                  height: 100%;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content {
                padding: 0;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .block__image {
                  height: 100%;
                  box-sizing: border-box;
                  display: block;
                  min-height: 100%;
              }
            {% endif %}
          {% when 'circle-image' %}
            .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                {% if column_balance == 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                {% elsif column_balance > 0 %}
                  grid-template-columns: minmax(100px, {{column_percentage}}fr) minmax(350px, 1fr);
                {% elsif column_balance < 0 %}
                  grid-template-columns: minmax(100px, 1fr) minmax(350px, {{column_percentage}}fr);
                {% endif %}
                justify-content: space-between;
                gap: {{column_gap}}px;
            }

            {% if has_background %}
              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
                  border-radius: {{settings.border_radius}}px;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                  {% if column_balance == 0 %}
                    grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                  {% elsif column_balance > 0 %}
                    grid-template-columns: minmax(100px, {{column_percentage}}fr) minmax(350px, 1fr);
                  {% elsif column_balance < 0 %}
                    grid-template-columns: minmax(100px, 1fr) minmax(350px, {{column_percentage}}fr);
                  {% endif %}
                  justify-content: center;
                  gap: {{column_gap}}px;
              }
            {% endif %}
          {% when 'square-image' %}
            .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                {% if column_balance == 0 %}
                  grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                {% elsif column_balance > 0 %}
                  grid-template-columns: minmax(100px, {{column_percentage}}fr) minmax(350px, 1fr);
                {% elsif column_balance < 0 %}
                  grid-template-columns: minmax(100px, 1fr) minmax(350px, {{column_percentage}}fr);
                {% endif %}
                justify-content: space-between;
                gap: {{column_gap}}px;
            }

            {% if has_background %}
              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__right {
                  border-radius: {{settings.border_radius}}px 0 0 {{settings.border_radius}}px;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__left .block__image {
                  border-radius: 0px {{settings.border_radius}}px {{settings.border_radius}}px 0px;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop {
                  {% if column_balance == 0 %}
                    grid-template-columns: minmax(350px, 1fr) minmax(100px, 1fr);
                  {% elsif column_balance > 0 %}
                    grid-template-columns: minmax(100px, {{column_percentage}}fr) minmax(350px, 1fr);
                  {% elsif column_balance < 0 %}
                    grid-template-columns: minmax(100px, 1fr) minmax(350px, {{column_percentage}}fr);
                  {% endif %}
                  padding-left: 0;
                  padding-right: 0;
                  grid-gap: 0px;
                  justify-content: center;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .image-with-text__content__left {
                  height: 100%;
              }

              .image-with-text__inner.section-{{section.id}} .image-with-text__content--desktop .block__image {
                  height: 100%;
                  box-sizing: border-box;
                  display: block;
                  min-height: 100%;
              }
            {% endif %}
        {% endcase %}
    {% endcase %}
  }
{% endstyle %}

{% stylesheet %}
  .image-with-text__content {
      display: grid;
      grid-template-columns: 1fr;
  }

  .image-with-text__content--mobile {
    display: flex;
    flex-direction: column;
  }

  .image-with-text__content--mobile *:not(.block__image) {
    padding: 0 16px;
  }

  .image-with-text__content--desktop {
      display: none;
  }

  /* Image margins */
  .image-with-text__content .block__image {
    grid-column: 1;
    width: 100%;
    position: relative;
    display: flex;
  }

  /* Paragraph margins */
  .image-with-text__content .block__paragraph {
    letter-spacing: -0.1px;
  }

  /* Button margins */
  .image-with-text__content .block__button {
      grid-column: 1;
      display: flex;
      align-items: center;
      width: 100%;
  }

  /* Buttons margins */
  .image-with-text__content .block__buttons {
      grid-column: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
  }

  .image-with-text__content .block__buttons{
    gap: 16px;
  }

  @media screen and (min-width: 768px) {

    .image-with-text__content--mobile {
        display: none;
    }

    .image-with-text__content--desktop {
        display: grid;
        align-items: center;
    }

    .image-with-text__content__left {
        flex: 1 0 auto;
    }

    .image-with-text__content__right {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .image-with-text__content__right--wrapper {
        max-width: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
  }
{% endstylesheet %}

{%- capture mobile_content -%}
  <div class="image-with-text__content--mobile">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'image' -%}
          {%- assign sizes = "(max-width: 768px) calc(100vw - 32px)" -%}
          {% render 'image_v2', block: block, sizes: sizes %}
        {%- when 'title' -%}
          {% liquid
              assign margin_top = block.settings.margin_top
              assign margin_bottom = block.settings.margin_bottom
            %}
          {% render 'title_v2', 
            block: block,
            margin_top: margin_top,
            margin_bottom: margin_bottom,
            default_font_size_desktop: 36, 
            default_font_size_mobile: 32,
            default_color: settings.heading_color
          %}
        {%- when 'paragraph' -%}
          {% liquid
            assign margin_top = block.settings.margin_top
            assign margin_bottom = block.settings.margin_bottom
          %}
          
          {% render 'paragraph_v2',margin_top: margin_top, margin_bottom: margin_bottom, block: block, default_color: settings.paragraph_color %}
        {%- when 'button' -%}
          {% liquid
            assign margin_top = block.settings.margin_top | divided_by: 2
            assign margin_bottom = block.settings.margin_bottom | divided_by: 2

            assign id = block.id | append: '-mobile'
          %}
          {% render 'button_v2', block: block, block_id: id, tag: "mobile", top_padding: margin_top, bottom_padding: margin_bottom %}
        {%- when 'buttons' -%}
          {% liquid
            assign margin_top = block.settings.margin_top
            assign margin_bottom = block.settings.margin_bottom

            assign id = block.id | append: '-desktop'
          %}

          {% render 'buttons_v2', block: block, visible_on_desktop: true, visible_on_mobile: true, block_id: id, tag: "mobile", top_padding: margin_top, bottom_padding: margin_bottom %}
      {%- endcase -%}
    {% endfor %}
  </div>
{%- endcapture -%}

{%- capture desktop_content -%}
  <div class="image-with-text__content--desktop">
    <div class="image-with-text__content__left">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'image' -%}
            {%- assign sizes = "(min-width: 1520px) 692px, 45.83vw" -%}
            {% render 'image_v2', block: block, sizes: sizes %}
        {%- endcase -%}
      {% endfor %}
    </div>

    <div class="image-with-text__content__right">
      <div class="image-with-text__content__right--wrapper">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'title' -%}
              {% liquid
                assign margin_top = block.settings.margin_top
                assign margin_bottom = block.settings.margin_bottom
              %}

              {% render 'title_v2', 
                block: block,
                default_font_size_desktop: 36, 
                default_font_size_mobile: 32,
                margin_top: margin_top,
                margin_bottom: margin_bottom,
                default_color: settings.heading_color
              %}
            {%- when 'paragraph' -%}
              {% liquid
                assign margin_top = block.settings.margin_top
                assign margin_bottom = block.settings.margin_bottom
              %}

              {% render 'paragraph_v2', block: block, default_color: settings.paragraph_color %}
            {%- when 'button' -%}
              {% liquid
                assign margin_top = block.settings.margin_top
                assign margin_bottom = block.settings.margin_bottom

                 assign id = block.id | append: '-desktop'
              %}
              {% render 'button_v2', block: block, block_id: id, tag: "desktop", top_padding: margin_top, bottom_padding: margin_bottom %}
            {%- when 'buttons' -%}
              {% liquid
                assign margin_top = block.settings.margin_top
                assign margin_bottom = block.settings.margin_bottom

                 assign id = block.id | append: '-desktop'
              %}

              {% render 'buttons_v2', block: block, visible_on_desktop: true, visible_on_mobile: true block_id: id, tag: "desktop", top_padding: margin_top, bottom_padding: margin_bottom  %}
          {%- endcase -%}
        {% endfor %}
      </div>
    </div>
  </div>
{%- endcapture -%}

<div class="image-with-text__inner section-{{section.id}}  {{ container_classes }} {% if has_background %}background{% endif %} {{ desktop_alignment }}">
  <div class="image-with-text__content">
    {{ desktop_content }}
    {{ mobile_content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image_with_text.info.title",
  "tag": "section",
  "class": "image-with-text container",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.image_with_text.info.description"
    },
    {
      "type": "color",
      "id": "image_background_color",
      "label": "Image background color"
    },
    {
      "type": "header",
      "content": "Layout",
      "info": "Customize the layout and alignment of your section."
    },
    {
      "type": "range",
      "id": "column_balance",
      "min": -50,
      "max": 50,
      "step": 1,
      "label": "Column balance",
      "default": 0
    },
    {
      "type": "range",
      "id": "column_gap",
      "min": 10,
      "max": 110,
      "step": 1,
      "unit": "px",
      "label": "Column gap",
      "default": 20
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "Desktop content alignment",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "content_alignment_mobile",
      "label": "Mobile content alignment",
      "default": "left"
    },
    {
      "type": "header",
      "content": "Background",
      "info": "Customize the background of your section."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "checkbox",
      "id": "fullwidth_background",
      "label": "Fullwidth background",
      "default": false
    },
    {
      "type": "header",
      "content": "Section padding",
      "info": "Add spacing above and below inside your new section."
    },
    {
      "type": "range",
      "id": "top_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top padding",
      "default": 15
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom padding",
      "default": 15
    },
    {
      "type": "range",
      "id": "side_padding",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Side padding",
      "default": 24
    },
    {
      "type": "header",
      "content": "Section margin",
      "info": "Add spacing above and below your new section."
    },
    {
      "type": "range",
      "id": "top_margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top margin",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_margin",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom margin",
      "default": 0
    }
  ],
  "max_blocks": 6,
  "blocks": [
   {
     "name": "t:blocks.image.info.title",
     "type": "image",
     "limit": 1,
     "settings": [
      {
        "type": "paragraph",
        "content": "t:blocks.image.info.description"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:blocks.image.attribute_names.image"
      },
      {
        "type": "select",
        "id": "shape",
        "label": "t:blocks.image.attribute_names.shape",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "square",
            "label": "Square"
          },
          {
            "value": "circle",
            "label": "Circle"
          }
        ],
        "default": "default"
      },
      {
        "type": "header",
        "content": "t:blocks.image.info.overlay_title",
        "info": "t:blocks.image.info.overlay_description"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "t:blocks.image.attribute_names.overlay_color"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "t:blocks.image.attribute_names.overlay_opacity",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:blocks.image.info.overlay_text_title"
      },
      {
        "type": "inline_richtext",
        "id": "overlay_title",
        "label": "t:blocks.image.info.overlay_text_title"
      },
      {
        "type": "range",
        "id": "font_size_scale",
        "min": 75,
        "max": 125,
        "step": 1,
        "unit": "%",
        "label": "t:blocks.title.attribute_names.font_size_scale",
        "default": 100
      },
      {
        "type": "color",
        "id": "overlay_text_color",
        "label": "t:blocks.image.attribute_names.overlay_text_color"
      },
      {
        "type": "range",
        "id": "max_width",
        "min": 300,
        "max": 1500,
        "step": 12,
        "unit": "px",
        "label": "Max width",
        "default": 1500
      },
      {
        "type": "range",
        "id": "overlay_text_vertical_offset",
        "min": -50,
        "max": 50,
        "step": 1,
        "unit": "%",
        "label": "t:blocks.image.attribute_names.overlay_text_vertical_offset",
        "default": 0
      },
      {
        "type": "range",
        "id": "overlay_text_horizontal_offset",
        "min": -50,
        "max": 50,
        "step": 1,
        "unit": "%",
        "label": "t:blocks.image.attribute_names.overlay_text_horizontal_offset",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:blocks.image.info.visibility_title",
        "info": "t:blocks.image.info.visibility_description"
      },
      {
        "type": "checkbox",
        "id": "visible_on_desktop",
        "label": "t:blocks.image.attribute_names.visible_on_desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "visible_on_mobile",
        "label": "t:blocks.image.attribute_names.visible_on_mobile",
        "default": true
      }
     ]
   },
   {
     "name": "t:blocks.title.info.title",
     "type": "title",
     "settings": [
       {
          "type": "paragraph",
          "content": "t:blocks.title.info.description"
       },
       {
        "type": "inline_richtext",
        "id": "text",
        "label": "t:blocks.title.attribute_names.text"
       },
       {
        "type": "color",
        "id": "color",
        "label": "t:blocks.title.attribute_names.color"
      },
       {
          "type": "select",
          "id": "tag",
          "label": "t:blocks.title.attribute_names.tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "range",
          "id": "font_size_scale",
          "min": 75,
          "max": 125,
          "step": 1,
          "unit": "%",
          "label": "t:blocks.title.attribute_names.font_size_scale",
          "default": 100
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 300,
          "max": 1500,
          "step": 12,
          "unit": "px",
          "label": "Max width",
          "default": 1500
        },
        {
          "type": "header",
          "content": "Block margin",
          "info": "Add spacing above and below your new block."
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Bottom margin",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:blocks.title.info.visibility_title",
          "info": "t:blocks.title.info.visibility_description"
        },
        {
          "type": "checkbox",
          "id": "visible_on_desktop",
          "label": "t:blocks.title.attribute_names.visible_on_desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "visible_on_mobile",
          "label": "t:blocks.title.attribute_names.visible_on_mobile",
          "default": true
        }
     ]
   },
   {
     "name": "t:blocks.paragraph.info.title",
     "type": "paragraph",
     "settings": [
       {
          "type": "paragraph",
          "content": "t:blocks.paragraph.info.description"
       },
       {
         "type": "richtext",
         "id": "text",
         "label": "t:blocks.paragraph.attribute_names.text"
       },
       {
        "type": "color",
        "id": "color",
        "label": "t:blocks.paragraph.attribute_names.color"
      },
       {
          "type": "range",
          "id": "font_size_scale",
          "min": 75,
          "max": 125,
          "step": 1,
          "unit": "%",
          "label": "t:blocks.paragraph.attribute_names.font_size_scale",
          "default": 100
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 300,
          "max": 1500,
          "step": 12,
          "unit": "px",
          "label": "Max width",
          "default": 1500
        },
        {
          "type": "header",
          "content": "t:blocks.paragraph.info.visibility_title",
          "info": "t:blocks.paragraph.info.visibility_description"
        },
        {
          "type": "checkbox",
          "id": "visible_on_desktop",
          "label": "t:blocks.paragraph.attribute_names.visible_on_desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "visible_on_mobile",
          "label": "t:blocks.paragraph.attribute_names.visible_on_mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Block margin",
          "info": "Add spacing above and below your new block."
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Top margin",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Bottom margin",
          "default": 0
        }
     ]
   },
   {
     "name": "t:blocks.button.info.title",
     "type": "button",
     "settings": [
       {
          "type": "paragraph",
          "content": "t:blocks.button.info.description"
       },
       {
         "type": "inline_richtext",
         "id": "text",
         "label": "t:blocks.button.attribute_names.text"
       },
       {
         "type": "url",
         "id": "link",
         "label": "t:blocks.button.attribute_names.link"
       },
       {
        "type": "select",
        "id": "type",
        "label": "t:blocks.button.attribute_names.type",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "override",
            "label": "Override"
          }
        ],
        "default": "primary"
       },
       {
        "type": "header",
        "content": "t:blocks.button.info.override_title",
        "info": "t:blocks.button.info.override_description"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:blocks.button.attribute_names.text_color"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "t:blocks.button.attribute_names.background_color"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "t:blocks.button.attribute_names.border_color"
      },
      {
        "type": "range",
        "id": "border_width",
        "min": 0,
        "max": 4,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.button.attribute_names.border_width",
        "default": 0
      },
      {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.button.attribute_names.border_radius",
        "default": 6
      },
      {
        "type": "select",
        "id": "animation",
        "label": "t:blocks.button.attribute_names.animation",
        "options": [
          {
            "value": "grow",
            "label": "Grow"
          },
          {
            "value": "shrink",
            "label": "Shrink"
          },
          {
            "value": "lighten",
            "label": "Lighten"
          },
          {
            "value": "darken",
            "label": "Darken"
          }
        ],
        "default": "shrink"
      },
      {
        "type": "header",
        "content": "t:blocks.button.info.visibility_title",
        "info": "t:blocks.button.info.visibility_description"
      },
      {
        "type": "checkbox",
        "id": "visible_on_desktop",
        "label": "t:blocks.button.attribute_names.visible_on_desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "visible_on_mobile",
        "label": "t:blocks.button.attribute_names.visible_on_mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Block margin",
        "info": "Add spacing above and below your new block."
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Top margin",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Bottom margin",
        "default": 0
      }
     ]
   },
   {
     "name": "t:blocks.buttons.info.title",
     "type": "buttons",
     "settings": [
       {
          "type": "paragraph",
          "content": "t:blocks.buttons.info.description"
       },
       {
        "type": "header",
        "content": "t:blocks.buttons.info.primary_button_title",
        "info": "t:blocks.buttons.info.primary_button_description"
       },
       {
         "type": "inline_richtext",
         "id": "primary_text",
         "label": "t:blocks.buttons.attribute_names.text"
       },
       {
         "type": "url",
         "id": "primary_link",
         "label": "t:blocks.buttons.attribute_names.link"
       },
       {
        "type": "select",
        "id": "primary_type",
        "label": "t:blocks.buttons.attribute_names.type",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "override",
            "label": "Override"
          }
        ],
        "default": "primary"
       },
       {
        "type": "header",
        "content": "t:blocks.buttons.info.primary_override_title",
        "info": "t:blocks.buttons.info.primary_override_description"
      },
      {
        "type": "color",
        "id": "primary_text_color",
        "label": "t:blocks.buttons.attribute_names.text_color"
      },
      {
        "type": "color",
        "id": "primary_background_color",
        "label": "t:blocks.buttons.attribute_names.background_color"
      },
      {
        "type": "color",
        "id": "primary_border_color",
        "label": "t:blocks.buttons.attribute_names.border_color"
      },
      {
        "type": "range",
        "id": "primary_border_width",
        "min": 0,
        "max": 4,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.buttons.attribute_names.border_width",
        "default": 0
      },
      {
        "type": "range",
        "id": "primary_button_border_radius",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.buttons.attribute_names.border_radius",
        "default": 6
       },
       {
        "type": "select",
        "id": "primary_button_animation",
        "label": "t:blocks.buttons.attribute_names.animation",
        "options": [
          {
            "value": "grow",
            "label": "Grow"
          },
          {
            "value": "shrink",
            "label": "Shrink"
          },
          {
            "value": "lighten",
            "label": "Lighten"
          },
          {
            "value": "darken",
            "label": "Darken"
          }
        ],
        "default": "shrink"
      },
       {
        "type": "header",
        "content": "t:blocks.buttons.info.secondary_button_title",
        "info": "t:blocks.buttons.info.secondary_button_description"
       },
       {
         "type": "inline_richtext",
         "id": "secondary_text",
         "label": "t:blocks.buttons.attribute_names.text"
       },
       {
         "type": "url",
         "id": "secondary_link",
         "label": "t:blocks.buttons.attribute_names.link"
       },
       {
        "type": "select",
        "id": "secondary_type",
        "label": "t:blocks.buttons.attribute_names.type",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "override",
            "label": "Override"
          }
        ],
        "default": "primary"
       },
       {
        "type": "header",
        "content": "t:blocks.buttons.info.secondary_override_title",
        "info": "t:blocks.buttons.info.secondary_override_description"
      },
      {
        "type": "color",
        "id": "secondary_text_color",
        "label": "t:blocks.buttons.attribute_names.text_color"
      },
      {
        "type": "color",
        "id": "secondary_background_color",
        "label": "t:blocks.buttons.attribute_names.background_color"
      },
      {
        "type": "color",
        "id": "secondary_border_color",
        "label": "t:blocks.buttons.attribute_names.border_color"
      },
      {
        "type": "range",
        "id": "secondary_border_width",
        "min": 0,
        "max": 4,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.buttons.attribute_names.border_width",
        "default": 1
      },
      {
        "type": "range",
        "id": "secondary_button_border_radius",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "t:blocks.buttons.attribute_names.border_radius",
        "default": 6
      },
      {
        "type": "select",
        "id": "secondary_buttons_animation",
        "label": "t:blocks.button.attribute_names.animation",
        "options": [
          {
            "value": "grow",
            "label": "Grow"
          },
          {
            "value": "shrink",
            "label": "Shrink"
          },
          {
            "value": "lighten",
            "label": "Lighten"
          },
          {
            "value": "darken",
            "label": "Darken"
          }
        ],
        "default": "shrink"
      },
      {
        "type": "header",
        "content": "t:blocks.buttons.info.visibility_title",
        "info": "t:blocks.buttons.info.visibility_description"
      },
      {
        "type": "checkbox",
        "id": "visible_on_desktop",
        "label": "t:blocks.buttons.attribute_names.visible_on_desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "visible_on_mobile",
        "label": "t:blocks.buttons.attribute_names.visible_on_mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Block margin",
        "info": "Add spacing above and below your new block."
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Top margin",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Bottom margin",
        "default": 0
      }
     ]
    }
 ],
  "enabled_on": {
    "templates": ["*"]
  },
  "presets": [
    {
      "name": "t:sections.image_with_text.info.title",
      "settings": {
        "image_background_color": "",
        "column_balance": 0,
        "column_gap": 20,
        "content_alignment": "left",
        "content_alignment_mobile": "left",
        "background_color": "",
        "fullwidth_background": false,
        "top_padding": 0,
        "bottom_padding": 0,
        "side_padding": 24,
        "top_margin": 40,
        "bottom_margin": 40
      },
      "blocks": [
        {
          "type": "title",
          "settings": {
            "text": "Shop with us",
            "color": "",
            "tag": "h2",
            "font_size_scale": 100,
            "max_width": 1500,
            "margin_top": 0,
            "margin_bottom": 15,
            "visible_on_desktop": true,
            "visible_on_mobile": true
          }
        },
        {
          "type": "paragraph",
          "settings": {
            "text": "<p>Use this section to display titles, paragraphs and buttons alongside an image.<\/p>",
            "color": "",
            "font_size_scale": 100,
            "max_width": 1500,
            "visible_on_desktop": true,
            "visible_on_mobile": true,
            "margin_top": 0,
            "margin_bottom": 15
          }
        },
        {
          "type": "button",
          "settings": {
            "text": "Primary button",
            "link": "",
            "type": "primary",
            "text_color": "",
            "background_color": "",
            "border_color": "",
            "border_width": 0,
            "border_radius": 6,
            "animation": "shrink",
            "visible_on_desktop": true,
            "visible_on_mobile": true,
            "margin_top": 5,
            "margin_bottom": 0
          }
        },
        {
          "type": "image",
          "settings": {
            "shape": "default",
            "overlay_color": "",
            "overlay_opacity": 0,
            "overlay_title": "",
            "font_size_scale": 100,
            "overlay_text_color": "",
            "max_width": 1500,
            "overlay_text_vertical_offset": 0,
            "overlay_text_horizontal_offset": 0,
            "visible_on_desktop": true,
            "visible_on_mobile": true
          }
        }
      ]
    }
  ]
}
{% endschema %}
