{%- liquid
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile

  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_top_mobile = section.settings.margin_top_mobile
  assign margin_bottom_mobile = section.settings.margin_bottom_mobile

  if section.settings.background_image != blank
    assign bg_image_desktop = section.settings.background_image | img_url: 'master'
  endif

  if section.settings.background_image_mobile != blank
    assign bg_image_mobile = section.settings.background_image_mobile | img_url: 'master'
  elsif bg_image_desktop != blank
    assign bg_image_mobile = bg_image_desktop
  endif

  assign background_image = true
  assign background_video = false

  if section.settings.video != blank
    assign background_image = false
    assign background_video = true

    assign desktop_video = section.settings.video
    assign mobile_video = section.settings.video_mobile | default: desktop_video
  endif
-%}

<style>
  :root #shopify-section-{{ section.id }} {
    --padding-top: {{ padding_top }}px;
    --padding-bottom: {{ padding_bottom }}px;
    --padding-top-mobile: {{ padding_top_mobile }}px;
    --padding-bottom-mobile: {{ padding_bottom_mobile }}px;
    --margin-top: {{ margin_top }}px;
    --margin-bottom: {{ margin_bottom }}px;
    --margin-top-mobile: {{ margin_top_mobile }}px;
    --margin-bottom-mobile: {{ margin_bottom_mobile }}px;
    {% if background_image %}
    --bg-image-mobile: url('{{ bg_image_mobile }}');
    --bg-image-desktop: url('{{ bg_image_desktop }}');
    {% endif %}
  }
</style>
<div class="top-banner__wrapper relative {% if background_image %} bg-image-variable {% endif %} bg-cover bg-no-repeat bg-center h-[87vh] lg:h-[69vh] flex items-center justify-center text-center flex-col">
  {%- if background_video -%}
    {{
      mobile_video
      | video_tag:
        autoplay: true,
        loop: true,
        muted: true,
        controls: false,
        preload: 'metadata',
        class: 'w-full h-full object-cover absolute top-0 left-0 z-[-1] lg:hidden',
        playsinline: true
    }}
    {{
      desktop_video
      | video_tag:
        autoplay: true,
        loop: true,
        muted: true,
        controls: false,
        preload: 'metadata',
        class: 'w-full h-full object-cover absolute top-0 left-0 z-[-1] hidden lg:block',
        playsinline: true
    }}
  {%- endif -%}
  <div class="top-banner__wrapper-container mobile-container max-w-[676px] mx-auto">
    {%- if section.settings.title != blank -%}
      <h1 class="text-white mb-24 text-center uppercase">
        {{- section.settings.title -}}
      </h1>
    {%- endif -%}

    {%- if section.settings.subtitle != blank -%}
      <div class="body-2 text-grey-200 mb-40 text-center">
        {{- section.settings.subtitle -}}
      </div>
    {%- endif -%}

    {%- if section.settings.show_input -%}
      {% render 'search-input-component',
        placeholder: section.settings.input_placeholder,
        trending_label: section.settings.trending_searches_label,
        trending_searches: section.settings.trending_searches
      %}
    {%- endif -%}
  </div>
</div>

{%- if section.blocks.size > 0 -%}
  <div class="top-banner__blocks bg-black-200 pb-50">
    <div class="desktop-container grid grid-cols-2 lg:grid-cols-4">
      {%- for block in section.blocks -%}
        {%- if block.settings.feature_icon != blank and block.settings.feature_text != blank -%}
          <div
            class="flex items-center flex-col lg:flex-row border-1 border-white-0.2 lg:first-of-type:border-l-0 lg:last-of-type:border-r-0 p-16 lg:px-40 lg:py-46"
            {{ block.shopify_attributes }}
          >
            {%- render 'responsive-image-dynamic_v2',
              image: block.settings.feature_icon,
              alt_text: block.settings.icon.alt,
              sizes: '32px'
            -%}
            <span class="body-3 text-white text-center lg:text-left mt-16 lg:mt-0 lg:ml-16">
              {{- block.settings.feature_text -}}
            </span>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Hero banner with search",
  "class": "section-hero global-spacing",
  "settings": [
    {
      "type": "header",
      "content": "Image background"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "(Desktop) Background image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "(Mobile) Background image",
      "info": "Desktop image will be used for mobile if this field is empty."
    },
    {
      "type": "header",
      "content": "Video background",
      "info": "Image background will be disabled if video background is used."
    },
    {
      "type": "video",
      "id": "video",
      "label": "(Desktop) Background Video"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "(Mobile) Background Video",
      "info": "Desktop video will be used for mobile if this field is empty."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Premium comfort, perfect sound"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>Transform your headphones with premium ear pads that offer unmatched comfort, durability, and style for hours of perfect sound.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_input",
      "label": "Show input",
      "default": true
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Input placeholder",
      "default": "Find your product..."
    },
    {
      "type": "text",
      "id": "trending_searches_label",
      "label": "Trending searches label",
      "default": "Trending searches"
    },
    {
      "type": "textarea",
      "id": "trending_searches",
      "label": "Trending searches via comma",
      "default": "earpads,sony,handband,bose,covers"
    },
    {
      "type": "header",
      "content": "Inner Spaces"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Desktop) Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Desktop) Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Mobile) Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Mobile) Padding bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Outer Spaces"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Desktop) Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Desktop) Margin bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Mobile) Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "(Mobile) Margin bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature icon"
        },
        {
          "type": "richtext",
          "id": "feature_text",
          "label": "Feature text",
          "default": "<p>25,000+ Customer</p><p>Reviews Online</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero banner with search"
    }
  ]
}
{% endschema %}
